<html layout:decorate="~{layout_page}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .wj-header {
            text-align: center !important;
        }
    </style>
</head>

<th:block layout:fragment="content">
    <div class="layout-contents">
        <!-- Page Title -->
        <div class="page-title-wrap">
            <div class="left">
                <h2>사원별 휴가확인</h2>
                <a title="북마크" class="bookmark toggle">
                    내메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>근태현황</li>
                <li>사원별휴가확인</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt>
                            <label>신청일</label>
                        </dt>
                        <dd>
                            <ul class="date-box">
                                <li>
                                    <input type="date" id="start_date" name="start_date"/>
                                    <label for="start_date" class="hide">시작일</label>
                                </li>
                                <li>
                                    <input type="date" id="end_date" name="end_date"/>
                                    <label for="end_date" class="hide">종료일</label>
                                </li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label>사원명</label>
                        </dt>
                        <dd>
                            <select style="width: 150px;" id="person_name" name="person_name"></select>
                        </dd>
                    </dl>

                    <dl>
                        <dt><span class="eq"></span></dt>
                        <dd>
                            <li>
                                <a class="btn btn-delete" title="검색" id="btnSearch">
                                    <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                    검색
                                </a>
                            </li>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap">
                    <ul>
                        <li>
                            <a class="btn btn-save" title="등록" id="btnInsert">
                                <img th:src="@{/images/icon/ico-edit.svg}" alt="등록 아이콘">
                                등록
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-excell" title="엑셀양식" id="btnExcelTemplate">
                                <img th:src="@{/images/icon/ico-edit.svg}" alt="양식 아이콘">
                                양식다운
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-excell" title="엑셀업로드" id="btnExcelUpload">
                                <img th:src="@{/images/icon/ico-edit.svg}" alt="업로드 아이콘">
                                일괄등록
                            </a>
                            <input type="file" id="excelFileInput" style="display:none;" accept=".xlsx,.xls">
                        </li>
                        <li>
                            <a class="btn btn-excell" title="저장" id="btnSave">
                                <img th:src="@{/images/icon/ico-edit.svg}" alt="저장 아이콘">
                                확인
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-excell" title="취소" id="btncancel">
                                <img th:src="@{/images/icon/ico-edit.svg}" alt="취소 아이콘">
                                확인취소
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!--//section-top end -->

            <div class="container-fluid">
                <p id="selectedItem"></p>
                <div id="member-grid" style="height: 650px;"></div>
            </div>
        </section>


    </div> <!--//layout-contents end -->

    <footer style="margin-top: 24px;">
        <p>Copyrightⓒ 0000 corp. All rights reserved.</p>
    </footer>

    <!-- 엑셀 일괄등록 미리보기 팝업 템플릿 -->
    <script type="text/x-tmpl" id="excelPreviewTemplate">
        <div class="content_wrap popup">
            <div style="padding:10px 0 6px; font-size:13px; color:#666;">
                총 <strong id="excelPreviewCount">0</strong>건을 등록합니다. 내용을 확인 후 저장하세요.
            </div>
            <div class="grid_box">
                <div id="excelPreviewGrid" style="height:350px;"></div>
            </div>
            <div class="popup-button">
                <button type="button" class="btn-popup" id="btnExcelSave">저장</button>
                <button type="button" class="btn-popup" id="modal-close-button">닫기</button>
            </div>
        </div>
    </script>

    <!-- 휴가 등록/수정 팝업 템플릿 -->
    <script type="text/x-tmpl" id="memberFormTemplate">
        <div class="content_wrap popup">
            <div class="table-wrap">
                <table class="write-table">
                    <tbody>
                        <tr>
                            <th style="text-align:center;">사원</th>
                            <td colspan="3">
                                <input type="hidden" id="modalPerid" value="{%=o.perid%}">
                                <input type="text" id="modalPernm" value="{%=o.pernm%}" placeholder="사원 선택"
                                       readonly style="width:200px; {%=o.isEdit ? 'cursor:default;' : 'cursor:pointer;'%}"
                                       {%=o.isEdit ? '' : 'onclick="openPersonPopupInModal()"'%}>
                                {% if (!o.isEdit) { %}
                                <button type="button" class="btn-default" onclick="openPersonPopupInModal()">선택</button>
                                {% } %}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">휴가항목</th>
                            <td>
                                <select id="modalWorkcd" style="width:180px;" onchange="onModalWorkcdChange()">
                                    <option value="">선택</option>
                                </select>
                            </td>
                            <th style="text-align:center;">연차</th>
                            <td>
                                <input type="checkbox" id="modalYearflag" {%=o.yearflag==='1' ? 'checked' : ''%}>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">시작일</th>
                            <td>
                                <input type="date" id="modalFrdate" value="{%=o.frdate%}" style="width:140px;" onchange="calcModalDaynum()">
                                <input type="time" id="modalSttime" value="{%=o.sttime%}" style="width:120px;">
                            </td>
                            <th style="text-align:center;">종료일</th>
                            <td>
                                <input type="date" id="modalTodate" value="{%=o.todate%}" style="width:140px;" onchange="calcModalDaynum()">
                                <input type="time" id="modalEdtime" value="{%=o.edtime%}" style="width:120px;">
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:center;">사용일수</th>
                            <td><input type="number" id="modalDaynum" value="{%=o.daynum%}" style="width:180px;"></td>
                            <th style="text-align:center;">사유</th>
                            <td><input type="text" id="modalRemark" value="{%=o.remark%}" style="width:180px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="popup-button">
                <button type="button" class="btn-popup" id="btnMemberSave">저장</button>
                {% if (o.isEdit) { %}
                <button type="button" class="btn-popup" id="btnMemberDelete">삭제</button>
                {% } %}
                <button type="button" class="btn-popup" id="modal-close-button">닫기</button>
            </div>
        </div>
    </script>

    <!-- 사번찾기 팝업 템플릿 -->
    <script type="text/x-tmpl" id="getPersonTemplate">
        <div class="content_wrap popup">
            <div class="table-wrap">
                <table class="write-table">
                    <tbody>
                        <tr>
                            <th style="text-align:center;"><label for="searchCode">사번</label></th>
                            <td><input id="searchCode" type="text" style="width:180px;"/></td>
                            <th style="text-align:center;"><label for="searchName">사원명</label></th>
                            <td><input id="searchName" type="text" style="width:180px;"/></td>
                            <td colspan="2" style="text-align:center;">
                                <button type="button" class="btn-default" id="btnSubjectSearch"><i class="fas fa-search"></i> 검색</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="grid_box" style="margin-top:10px;">
                    <div id="person-grid" style="height:300px; max-height:300px;"></div>
                </div>
            </div>
            <div class="popup-button">
                <button type="button" class="btn-popup" id="btnAccountSave"><span>선택</span></button>
                <button type="button" class="btn-popup" id="modal-close-button"><span>닫기</span></button>
            </div>
        </div>
    </script>

</th:block>
<th:block layout:fragment="scripts">
    <script th:src="@{/resource/sheetjs/xlsx.full.min.js}"></script>
    <th:block th:replace="common/columns_setting :: columns_setting"></th:block>
    <script type="text/javascript">
        class MemberPage {
            constructor() {
                this.viewData = new wijmo.collections.CollectionView();
                this.viewData2 = new wijmo.collections.CollectionView();
                this.grid = null;
                this.grid2 = null;
                this.init();
            }

            init() {
                let _this = this;

                this.grid = new wijmo.grid.FlexGrid('#member-grid', {
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    headersVisibility: wijmo.grid.HeadersVisibility.All,
                    autoGenerateColumns: false,
                    showMarquee: true,
                    isReadOnly: false,
                    frozenColumns: 9,
                    formatItem: (sender, e) => {
                        if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
                            e.cell.style.textAlign = 'center';
                        }
                        // 날짜 포맷 처리
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            let col = sender.columns[e.col];
                            let val = e.panel.getCellData(e.row, e.col, false);

                            // 날짜 컬럼 포맷 적용
                            if (['reqdate', 'frdate', 'todate'].includes(col.binding) && val && val.length === 8) {
                                let formatted = val.substring(0, 4) + '-' + val.substring(4, 6) + '-' + val.substring(6, 8);
                                e.cell.textContent = formatted;
                            }
                        }
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            let col = sender.columns[e.col];
                            if (col.binding === 'yearflag') {
                                let value = sender.getCellData(e.row, e.col, false);
                                e.cell.innerHTML = value === '1'
                                    ? '<span style="color: black;">✔</span>'
                                    : '';
                                e.cell.style.textAlign = 'center';
                            }
                            // 승인상태: fixflag === '1' 이면 체크 표시
                            if (col.header === '승인상태') {
                                let value = sender.getCellData(e.row, e.col, false);
                                e.cell.innerHTML = value === '1'
                                    ? '<span style="color: green;">✔</span>'
                                    : '';
                                e.cell.style.textAlign = 'center';
                            }
                        }
                        // 기간 소수점1자리까지만
                        if (e.panel.cellType === wijmo.grid.CellType.Cell) {
                            // daynum/ restnum 컬럼에만 적용
                            const col = sender.columns[e.col];
                            if (col.binding === 'daynum') {
                                const value = sender.getCellData(e.row, e.col, false);
                                if (typeof value === 'number') {
                                    e.cell.innerHTML = (value % 1 === 0) ? value.toString() : value.toFixed(1);
                                }
                            }
                        }
                    },
                    columns: [
                        {binding: 'fixflag', width: 120, align: 'center', visible:false},
                        {binding: 'first_name', header: '사원명', width: 120, align: 'center'},
                        {binding: 'RSPNM', header: '직위', width: 100, align: 'center'},
                        {binding: 'reqdate', header: '신청일', width: 140, align: 'center'},
                        {binding: 'frdate', header: '시작일', width: 140, align: 'center'},
                        {binding: 'todate', header: '종료일', width: 140, align: 'center'},
                        {binding: 'worknm', header: '구분', width: 120, align: 'center'},
                        {binding: 'daynum', header: '기간', width: 100, align: 'center'},
                        {binding: 'yearflag', header: '연차', width: 100, align: 'center'},
                        {binding: 'remark', header: '사유', width: '*', align: 'left'},
                        // {binding: 'appgubunnm', header: '결재상태', width: 100, align: 'left'},
                        {binding: 'fixflag', header: '승인상태', width: 100, align: 'center'},
                        {binding: 'appernm', header: '승인자', width: 120, align: 'center'},
                        {binding: 'appdate', header: '승인일자', width: 120, align: 'center'},
                    ],
                    itemsSource: this.viewData, // 데이터를 설정할 배열
                });

                let selector = new wijmo.grid.selector.Selector(this.grid, {
                    itemChecked: (s, e) => {
                        let SelectItem = this.grid.rows.filter(r => r.isSelected);
                    }
                });

                this.grid.beginningEdit.addHandler((s, e) => {
                    const fixflag = s.getCellData(e.row, 'fixflag', false);

                    if (fixflag === '1') {
                        e.cancel = true;
                    }
                });

                this.grid.loadedRows.addHandler(() => {
                    setTimeout(() => {
                        this.grid.select(-1, -1); // 선택 상태 초기화
                    }, 0); // 비동기로 처리하여 초기 선택 해제
                });

                new FlexGridContextMenu(this.grid);
                this.grid.downloadFileName = '사원별휴가현황';

                // 더블클릭 시 수정 팝업
                this.grid.hostElement.addEventListener('dblclick', (e) => {
                    const ht = this.grid.hitTest(e);
                    if (ht.cellType !== wijmo.grid.CellType.Cell) return;
                    const rowData = this.grid.rows[ht.row].dataItem;
                    if (!rowData || !rowData.id) return;
                    openMemberModal(rowData);
                });

            }

            searchMainData() {
                let _this = this;

                let url = '/api/clock/member/read'
                let data = {
                    'start_date' :$('#start_date').val(),
                    'end_date' :$('#end_date').val(),
                    'person_name' :$('#person_name').val(),
                    spjangcd: sessionStorage.getItem('spjangcd'),
                }
                let result = AjaxUtil.getSyncData(url, data);
                console.log(result);

                if (result && result.data) {
                    _this.viewData.sourceCollection = result.data;


                    setTimeout(() => {
                        let hasFixedRow = false;

                        _this.grid.rows.forEach((row, idx) => {
                            if (_this.grid.getCellData(idx, 'fixflag', false) === '1') {
                                row.isSelected = true; // 선택 (체크박스 자동 연동)
                                hasFixedRow = true;    // 플래그 설정
                            }
                        });

                        /* // fixflag === '1' 인 행이 있으면 버튼 상태 변경
                         if (hasFixedRow) {
                             $('#btncancel').show();
                             $('#btnSave').hide();
                         } else {
                             $('#btncancel').hide();
                             $('#btnSave').show();
                         }*/
                    });

                }

            }//searchMainData

            saveMember() {
                let _this = this;
                let url = '/api/clock/member/save';

                // 선택된 행들 가져오기
                let selectedItems = _this.grid.rows
                    .filter(row => row.isSelected)  // Selector에서 체크된 행
                    .map(row => row.dataItem);

                // 유효성 체크
                if (selectedItems.length === 0) {
                    Alert.alert('', '선택된 행이 없습니다.');
                    return;
                }

                // 서버로 전송할 데이터
                let data = {
                    list: selectedItems,
                    spjangcd: sessionStorage.getItem('spjangcd')
                };

                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('', '저장되었습니다'); // Notification
                        _this.searchMainData();
                    } else if (!res.success) {
                        Alert.alert('', res.message);
                    }
                };
                AjaxUtil.postJsonData(url, data, fnSuccess);
            }

            cancel(){
                let _this = this;
                let url = '/api/clock/member/Cancel';

                // 선택된 행들 가져오기
                let selectedItems = _this.grid.rows
                    .filter(row => row.isSelected)  // Selector에서 체크된 행
                    .map(row => row.dataItem);

                // 유효성 체크
                if (selectedItems.length === 0) {
                    Alert.alert('', '선택된 행이 없습니다.');
                    return;
                }

                // 서버로 전송할 데이터
                let data = {
                    list: selectedItems
                };

                let fnSuccess = function (res) {
                    if (res.success) {
                        Alert.alert('', '취소되었습니다'); // Notification
                        _this.searchMainData();
                    } else if (!res.success) {
                        Alert.alert('', res.message);
                    }
                };
                AjaxUtil.postJsonData(url, data, fnSuccess);

            }


        }

        let page = null;

        // ── 팝업 관련 함수 ──────────────────────────────────────
        let _memberPopContainer = null;
        let _memberRowId = null;

        function openMemberModal(rowData) {
            _memberRowId = rowData ? rowData.id : null;
            const isEdit = !!rowData;

            const o = {
                isEdit  : isEdit,
                perid   : rowData ? (rowData.personid || '') : '',
                pernm   : rowData ? (rowData.first_name || '') : '',
                frdate  : rowData ? formatDate8ToInput(rowData.frdate) : '',
                todate  : rowData ? formatDate8ToInput(rowData.todate) : '',
                sttime  : rowData ? formatTime5ToInput(rowData.sttime) : '',
                edtime  : rowData ? formatTime5ToInput(rowData.edtime) : '',
                daynum  : rowData ? (rowData.daynum || '') : '',
                remark  : rowData ? (rowData.remark || '') : '',
                yearflag: rowData ? (rowData.yearflag || '0') : '0',
            };

            let content = tmpl('memberFormTemplate', o);
            let $content = $(content);

            _memberPopContainer = new PopupDraggable(isEdit ? '휴가 수정' : '휴가 등록');
            _memberPopContainer.open({ width: 780, height: 380, $content });

            // workcd 셀렉트 초기화 후 값 설정
            AjaxUtil.fillSelectOptions($content.find('#modalWorkcd'), 'workcd', 'choose', false, 'work_division', '');
            if (rowData && rowData.workcd) {
                $content.find('#modalWorkcd').val(rowData.workcd);
            }

            // 저장 버튼
            $content.find('#btnMemberSave').click(function() {
                saveMemberModal($content);
            });

            // 삭제 버튼 (수정 모드만 존재)
            $content.find('#btnMemberDelete').click(function() {
                deleteMemberModal();
            });
        }

        function openPersonPopupInModal() {
            let selectedItem = null;
            let theGrid4;
            let viewdata4;

            let content = tmpl('getPersonTemplate', {});
            let $content = $(content);

            let popContainer = new PopupDraggable('사번찾기');
            popContainer.open({ width: 800, height: 500, $content });

            let $searchName = $content.find('#searchName');
            let $searchCode = $content.find('#searchCode');
            let $btnSearch  = $content.find('#btnSubjectSearch');

            function fetchPersonList() {
                $.ajax({
                    url: withCtx('/api/system/user/getPerson'),
                    type: 'GET',
                    data: {
                        searchCode: $searchCode.val(),
                        searchName: $searchName.val(),
                        spjangcd: sessionStorage.getItem('spjangcd'),
                    },
                    async: false,
                    success: function(res) {
                        let data2 = res.data || [];
                        viewdata4 = new wijmo.collections.CollectionView(data2);
                        if (theGrid4) theGrid4.itemsSource = viewdata4;
                    }
                });
            }

            theGrid4 = new wijmo.grid.FlexGrid('#person-grid', {
                autoGenerateColumns: false,
                showMarquee: true,
                isReadOnly: true,
                columns: [
                    { binding: 'code',      header: '사번',   width: 120, align: 'center' },
                    { binding: 'name',      header: '이름',   width: 150, align: 'center' },
                    { binding: 'dept_name', header: '부서',   width: 150, align: 'center' },
                    { binding: 'handphone', header: '전화번호', width: 150, align: 'center' },
                    { binding: '', header: '', width: '*' },
                ],
                itemsSource: null
            });
            theGrid4.rowHeaders.columns.splice(0, 1);
            fetchPersonList();

            $btnSearch.click(() => fetchPersonList());
            $searchCode.add($searchName).on('keydown', function(e) {
                if (e.keyCode === 13) fetchPersonList();
            });

            theGrid4.selectionChanged.addHandler((s) => {
                selectedItem = s.collectionView.currentItem;
            });

            function applySelection(item) {
                // 현재 열려있는 memberFormTemplate 팝업의 필드에 바인딩
                $('#modalPerid').val((item.code || '').replace(/^p/, ''));
                $('#modalPernm').val(item.name || '');
                popContainer.close();
            }

            $content.find('#btnAccountSave').click(() => {
                if (selectedItem) applySelection(selectedItem);
                else Alert.alert('', '사번을 선택해주세요.');
            });

            theGrid4.hostElement.addEventListener('dblclick', function(e) {
                let items = theGrid4.selectedItems;
                if (items.length === 0) return;
                applySelection(items[0]);
            });
        }

        function onModalWorkcdChange() {
            let workcd = $('#modalWorkcd').val();
            $.ajax({
                url: withCtx('/api/attendance_submit/bindPeriod'),
                type: 'GET',
                data: { attKind: workcd },
                success: function(res) {
                    if (res && res.data) {
                        $('#modalYearflag').prop('checked', res.data.yearflag === '1');
                    }
                }
            });
        }

        function calcModalDaynum() {
            const fr = $('#modalFrdate').val();
            const to = $('#modalTodate').val();
            if (fr && to) {
                const diff = (new Date(to) - new Date(fr)) / (1000 * 60 * 60 * 24);
                $('#modalDaynum').val(diff === 0 ? '1.00' : (diff > 0 ? (diff + 1).toFixed(2) : '0.00'));
            }
        }

        function saveMemberModal($content) {
            const perid   = $('#modalPerid').val();
            const workcd  = $('#modalWorkcd').val();
            const frdate  = $('#modalFrdate').val();
            const todate  = $('#modalTodate').val();
            const sttime  = $('#modalSttime').val();
            const edtime  = $('#modalEdtime').val();
            const daynum  = $('#modalDaynum').val();
            const remark  = $('#modalRemark').val();
            const yearflag = $('#modalYearflag').is(':checked') ? '1' : '0';

            if (!perid)  { Alert.alert('', '사원을 선택해주세요.'); return; }
            if (!workcd) { Alert.alert('', '휴가항목을 선택해주세요.'); return; }
            if (!frdate) { Alert.alert('', '시작일을 입력해주세요.'); return; }
            if (!todate) { Alert.alert('', '종료일을 입력해주세요.'); return; }

            const isEdit = _memberRowId !== null;
            const url    = isEdit ? '/api/clock/member/update' : '/api/clock/member/insert';
            const data   = {
                id: _memberRowId, perid, workcd, frdate, todate,
                sttime, edtime, daynum, remark, yearflag,
                spjangcd: sessionStorage.getItem('spjangcd')
            };

            AjaxUtil.postJsonData(url, data, function(res) {
                if (res.success) {
                    Alert.alert('', res.message);
                    if (_memberPopContainer) _memberPopContainer.close();
                    page.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            });
        }

        function deleteMemberModal() {
            if (!_memberRowId) return;
            Alert.confirm('', '삭제하시겠습니까?', function() {
                AjaxUtil.postJsonData('/api/clock/member/delete', { id: _memberRowId }, function(res) {
                    if (res.success) {
                        Alert.alert('', res.message);
                        if (_memberPopContainer) _memberPopContainer.close();
                        page.searchMainData();
                    } else {
                        Alert.alert('', res.message);
                    }
                });
            }, function() {});
        }

        // ── 엑셀 양식 다운로드 ──────────────────────────────────
        function downloadExcelTemplate() {
            var wb = XLSX.utils.book_new();
            var headerRow = [];
            headerRow.push('\uc0ac\ubc88');
            headerRow.push('\ud734\uac00\ud56d\ubaa9\ucf54\ub4dc');
            headerRow.push('\uc2dc\uc791\uc77c');
            headerRow.push('\uc885\ub8cc\uc77c');
            headerRow.push('\uc0ac\uc6a9\uc77c\uc218');
            headerRow.push('\uc5f0\ucc28\uc5ec\ubd80');
            headerRow.push('\uc0ac\uc720');
            headerRow.push('');
            headerRow.push('\ud734\uac00\ud56d\ubaa9 \ucf54\ub4dc \ubaa9\ub85d');
            var sampleRow = ['3026', '08', '2026-06-10', '2026-06-10', '1', '1', '\uc5f0\ucc28 \uc0ac\uc6a9', '', '04 - \ubc18\ucc28'];
            var codeRows = [
                ['', '', '', '', '', '', '', '', '05 - \ubcd1\uac00'],
                ['', '', '', '', '', '', '', '', '06 - \ud734\uac00'],
                ['', '', '', '', '', '', '', '', '08 - \uc5f0\ucc28'],
                ['', '', '', '', '', '', '', '', '09 - \ud6c8\ub828'],
                ['', '', '', '', '', '', '', '', '10 - \ucd9c\uc7a5'],
                ['', '', '', '', '', '', '', '', '11 - \uc678\uadfc'],
                ['', '', '', '', '', '', '', '', '12 - \uc219\uc9c1'],
            ];
            var allRows = [headerRow, sampleRow];
            codeRows.forEach(function(r) { allRows.push(r); });
            var ws = XLSX.utils.aoa_to_sheet(allRows);
            ws['!cols'] = [{wch:12},{wch:14},{wch:16},{wch:16},{wch:10},{wch:12},{wch:20},{wch:4},{wch:20}];
            XLSX.utils.book_append_sheet(wb, ws, '\ud734\uac00\uc77c\uad04\ub4f1\ub85d');
            XLSX.writeFile(wb, '\ud734\uac00\uc77c\uad04\ub4f1\ub85d_\uc591\uc2dd.xlsx');
        }

        // ── 엑셀 업로드 → 미리보기 팝업 ───────────────────────
        let _excelData = [];
        let _excelPopContainer = null;

        function handleExcelUpload(file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const data  = new Uint8Array(e.target.result);
                const wb    = XLSX.read(data, { type: 'array' });
                const ws    = wb.Sheets[wb.SheetNames[0]];
                const rows  = XLSX.utils.sheet_to_json(ws, { header: 1, defval: '' });

                if (rows.length < 2) {
                    Alert.alert('', '데이터가 없습니다.');
                    return;
                }

                // 헤더 제외, 빈 행 제거
                _excelData = rows.slice(1)
                    .filter(r => r[0] !== '')
                    .map(r => ({
                        perid   : String(r[0] || '').replace(/^p/, ''),
                        workcd  : String(r[1] || ''),
                        frdate  : String(r[2] || ''),
                        todate  : String(r[3] || ''),
                        daynum  : String(r[4] || ''),
                        yearflag: String(r[5] || '0'),
                        remark  : String(r[6] || ''),
                        spjangcd: sessionStorage.getItem('spjangcd')
                    }));

                if (_excelData.length === 0) {
                    Alert.alert('', '유효한 데이터가 없습니다.');
                    return;
                }

                openExcelPreviewPopup();
            };
            reader.readAsArrayBuffer(file);
        }

        function openExcelPreviewPopup() {
            const content  = tmpl('excelPreviewTemplate', {});
            const $content = $(content);

            _excelPopContainer = new PopupDraggable('엑셀 일괄등록 미리보기');
            _excelPopContainer.open({ width: 900, height: 520, $content });

            $content.find('#excelPreviewCount').text(_excelData.length);

            const previewGrid = new wijmo.grid.FlexGrid('#excelPreviewGrid', {
                autoGenerateColumns: false,
                isReadOnly: true,
                showMarquee: true,
                columns: [
                    { binding: 'perid',    header: '사번',           width:  90, align: 'center' },
                    { binding: 'workcd',   header: '휴가항목코드',   width: 110, align: 'center' },
                    { binding: 'frdate',   header: '시작일',         width: 120, align: 'center' },
                    { binding: 'todate',   header: '종료일',         width: 120, align: 'center' },
                    { binding: 'daynum',   header: '사용일수',       width:  80, align: 'center' },
                    { binding: 'yearflag', header: '연차여부',       width:  80, align: 'center' },
                    { binding: 'remark',   header: '사유',           width: '*',  align: 'left'  },
                ],
                itemsSource: new wijmo.collections.CollectionView(_excelData)
            });
            previewGrid.rowHeaders.columns.splice(0, 1);

            $content.find('#btnExcelSave').click(function () {
                AjaxUtil.postJsonData('/api/clock/member/bulk_insert', {
                    list    : _excelData,
                    spjangcd: sessionStorage.getItem('spjangcd')
                }, function (res) {
                    if (res.success) {
                        Alert.alert('', res.message);
                        if (_excelPopContainer) _excelPopContainer.close();
                        page.searchMainData();
                    } else {
                        Alert.alert('', res.message);
                    }
                });
            });
        }
        function formatDate8ToInput(val) {
            if (!val || val.length !== 8) return '';
            return `${val.substring(0,4)}-${val.substring(4,6)}-${val.substring(6,8)}`;
        }
        // HHmm → HH:mm
        function formatTime5ToInput(val) {
            if (!val || val.length < 4) return '';
            return `${val.substring(0,2)}:${val.substring(2,4)}`;
        }

        $(document).ready(function (e) {
            //yullinAuth.inspection();
            yullinAuth.removeWriteButton();
            page = new MemberPage();

            AjaxUtil.fillSelectOptions($('#person_name'), 'person', 'choose', false);
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');

            $('#start_date').val(`${year}-${month}-01`);

            const lastDay = new Date(year, now.getMonth() + 1, 0).getDate();
            $('#end_date').val(`${year}-${month}-${String(lastDay).padStart(2, '0')}`);

            $('#btnSearch').click(function (ex) {
                page.searchMainData();
            });

            $('#btnInsert').click(function () {
                openMemberModal(null);
            });

            $('#btnExcelTemplate').click(function () {
                downloadExcelTemplate();
            });

            $('#btnExcelUpload').click(function () {
                $('#excelFileInput').val('').click();
            });

            $('#excelFileInput').on('change', function () {
                const file = this.files[0];
                if (file) handleExcelUpload(file);
            });

            $('#btnSave').click(function (e) {
                Alert.confirm('',
                    "저장하시겠습니까?",
                    function () { page.saveMember() },
                    function () { }
                );
            });


            $('#btncancel').click(function (e) {
                Alert.confirm('',
                    "취소하시겠습니까?",
                    function () { page.cancel() },
                    function () { }
                );
            });

            page.searchMainData();
        });
    </script>

</th:block>

</html>