<div th:fragment="mobile_menu">
    <div class="mobile-layout-menu">
        <div class="menu-wrapper" id="gnb">
            <div class="menu-top">
                <div class="left">
                    <img th:src="@{/assets_mobile/images/icon/ico-user.png}" alt="사용자 아이콘" style="position: relative; top: 5px;">
                    <p class="user-name">
                        <span id="userName"></span>
                    </p>
                    <h5 id="groupname"></h5>
                </div>
                <div class="right">
                    <a id="logout" title="로그아웃">
                        <img th:src="@{/assets_mobile/images/icon/btn-logout.png}" alt="로그아웃">
                    </a>
                    <a title="팝업닫기" class="btn-menu-close">
                        <img th:src="@{/assets_mobile/images/icon/btn-menu-close.png}" alt="닫기">
                    </a>
                </div>
            </div> <!--//menu-top end-->

            <nav th:data-page="${currentPage}">
                <!-- dep1 -->
                <ul class="dep1">
                    <li data-target="menu1">근무관리</li>
                    <li data-target="menu2">업무일지</li>
                    <li data-target="menu3">보수관리</li>
                    <li data-target="menu6" id="menuApproval" style="display:none;">관리자 메뉴</li>
                    <li data-target="menu5">계정관리</li>
                </ul>
                <div class="dep2">
                    <ul data-menu="menu1">
                        <li><a th:href="@{/}" title="출퇴근등록" class="menu-link">출퇴근등록</a></li>
                        <li><a th:href="@{/mobile/attendance/attendance_submit}" title="휴가등록" class="menu-link">휴가등록</a></li>
                        <li><a th:href="@{/mobile/attendance/commute_current}" title="출퇴근현황" class="menu-link">출퇴근현황</a></li>
                        <li><a th:href="@{/mobile/attendance/attendance_current}" title="휴가현황" class="menu-link">휴가현황</a></li>
                        <li><a th:href="@{/mobile/attendance/attendance_statistics}" title="휴가통계" class="menu-link">휴가통계</a></li>
                    </ul>
                    <ul data-menu="menu2">
                        <li><a th:href="@{/mobile/request/vehicle_manage}" title="차량관리" class="menu-link">차량관리</a></li>
                        <li><a th:href="@{/mobile/request/vehicle_status}" title="차량관리 현황" class="menu-link">차량관리 현황</a></li>
                        <li><a th:href="@{/mobile/request/daily_report}" title="업무일지" class="menu-link">업무일지등록</a></li>
                        <li><a th:href="@{/mobile/request/daily_status}" title="업무일지현황" class="menu-link">업무일지현황</a></li>
                        <li><a th:href="@{/mobile/data_room}" title="자료실" class="menu-link">자료실</a></li>
                    </ul>
                    <ul data-menu="menu3">
                        <li><a th:href="@{/mobile/request/maintenance_comp}" title="보수업체현황" class="menu-link">보수현장현황</a></li>
                        <li><a th:href="@{/mobile/request/request_repair}" title="고장접수등록" class="menu-link">고장접수등록</a></li>
                        <li><a th:href="@{/mobile/request/request_status}" title="고장접수현황" class="menu-link">고장접수현황</a></li>
                        <li><a th:href="@{/mobile/request/maintenance_repair}" title="고장처리등록" class="menu-link">고장처리등록</a></li>
                        <li><a th:href="@{/mobile/request/maintenance_status}" title="고장처리현황" class="menu-link">고장처리현황</a></li>
                        <li><a th:href="@{/mobile/user_manage}" title="사용자관리" class="menu-link">사용자관리</a></li>
                    </ul>
                    <ul data-menu="menu4">

                    </ul>
                    <ul data-menu="menu6">
                        <li><a th:href="@{/mobile/approval/pending_approvals}" title="결재 할 내역" class="menu-link">결재 할 내역</a></li>
                        <li><a th:href="@{/mobile/attendance/commute_status}" title="근태현황" class="menu-link">근태현황</a></li>
                    </ul>
                    <ul data-menu="menu5">
                        <li><a th:href="@{/mobile/user_info}" title="사용자정보" class="menu-link">사용자정보</a></li>
                    </ul>
                </div>
            </nav>
        </div> <!--//menu-wrapper end-->
    </div> <!--//mobile-layout-menu end-->
</div>
