<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>매입관리</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>출금관리</li>
                <li>매입관리</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt><label>매입일자</label></dt>
                        <dd>
                            <div class="srch-box">
                                <input type="date" id="searchfrdate" name="searchfrdate"/>
                                <span class="slow_sign">~</span>
                                <input type="date" id="searchtodate" name="searchtodate"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>검색어</label></dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2" type="text" id="keyword" name="keyword"
                                       placeholder="거래처 / 제목" style="width:180px"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>증빙구분</label></dt>
                        <dd>
                            <select class="form-control2" id="searchGubun" name="searchGubun"></select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>발행구분</label></dt>
                        <dd>
                            <select class="form-control2" id="searchBhflag" name="searchBhflag">
                                <option value="">전체</option>
                                <option value="OD">OD</option>
                                <option value="AS">AS</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap" style="border-top:none; text-align: right;">
                    <ul>
                        <li>
                            <a class="btn btn-excell" title="신규등록" id="btnNew">
                                <img th:src="@{/images/icon/ico-plus.svg}" alt="등록 아이콘">
                                신규등록
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-edit" title="저장" id="btnSave">
                                <img th:src="@{/images/icon/ico-save.svg}" alt="저장 아이콘">
                                저장
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-delete" title="삭제" id="btnDelete">
                                <img th:src="@{/images/icon/ico-delete.svg}" alt="삭제 아이콘">
                                삭제
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <!-- 왼쪽: 매입 목록 -->
                    <div class="wp40">
                        <div class="container-fluid col">
                            <div id="theGridHeader" style="height:820px"></div>
                        </div>
                    </div>

                    <!-- 오른쪽: 매입 내용 + 상세 -->
                    <div class="col wp60">
                        <div class="section">
                            <form id="purchaseForm" onsubmit="return false;">
                                <input type="hidden" id="mijdateKey"/>
                                <input type="hidden" id="mijnumKey"/>
                                <input type="hidden" id="cltcdHidden"/>
                                <input type="hidden" id="mijcltcdHidden"/>

                                <div class="table-wrap">
                                    <table class="view-table">
                                        <caption>매입 내용</caption>
                                        <tbody>
                                        <tr>
                                            <th><label for="mijdate">매입일자</label></th>
                                            <td><input type="date" id="mijdate" name="mijdate" class="wp100"/></td>
                                            <th><label for="mijnum">전표번호</label></th>
                                            <td><input type="text" id="mijnum" name="mijnum" class="wp100"
                                                       placeholder="저장 시 자동 채번" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="cltnm">거래처</label></th>
                                            <td><input type="text" id="cltnm" name="cltnm" class="wp100"
                                                       placeholder="클릭해서 선택" readonly/></td>
                                            <th><label for="mijcltnm">지급처</label></th>
                                            <td><input type="text" id="mijcltnm" name="mijcltnm" class="wp100"
                                                       placeholder="클릭해서 선택" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="remark">제목</label></th>
                                            <td colspan="3"><input type="text" id="remark" name="remark" class="wp100"
                                                                   maxlength="100" placeholder="제목"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="gubun">증빙구분</label></th>
                                            <td><select class="form-control2 wp100" id="gubun" name="gubun"></select></td>
                                            <th><label for="billkind">부가세</label></th>
                                            <td>
                                                <!-- 파워빌더도 별도/포함 두 값뿐이다. 경기는 별도 5,383건 / 포함 399건 -->
                                                <select class="form-control2 wp100" id="billkind" name="billkind">
                                                    <option value="0">별도</option>
                                                    <option value="1">포함</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="taxreclafi">공제구분</label></th>
                                            <td><select class="form-control2 wp100" id="taxreclafi" name="taxreclafi"></select></td>
                                            <th><label for="bhflag">발행구분</label></th>
                                            <td>
                                                <select class="form-control2 wp100" id="bhflag" name="bhflag">
                                                    <option value="">선택</option>
                                                    <option value="OD">OD</option>
                                                    <option value="AS">AS</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="artcd">비용항목</label></th>
                                            <td><select class="form-control2 wp100" id="artcd" name="artcd"></select></td>
                                            <th><label for="divicd">부서</label></th>
                                            <td><select class="form-control2 wp100" id="divicd" name="divicd"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="tax_spdate">계산서일자</label></th>
                                            <td><input type="date" id="tax_spdate" name="tax_spdate" class="wp100"/></td>
                                            <th><label for="schdate">지급예정일</label></th>
                                            <td><input type="date" id="schdate" name="schdate" class="wp100"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="yyyymm">귀속년월</label></th>
                                            <td><input type="text" id="yyyymm" name="yyyymm" class="wp100"
                                                       maxlength="6" placeholder="비우면 매입일자 년월"/></td>
                                            <th><label for="mijamtView">발생금액</label></th>
                                            <td><input type="text" id="mijamtView" class="wp100" readonly
                                                       style="text-align:right"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="bigo">참고</label></th>
                                            <td colspan="3"><input type="text" id="bigo" name="bigo" class="wp100"
                                                                   maxlength="255" placeholder="참고"/></td>
                                        </tr>
                                        <!-- 지급 전표(TB_CA642)를 함께 만드는 자동지급처리는 이번 범위가 아니라
                                             여기서는 지급된 결과만 보여준다. 지급액이 있으면 수정·삭제가 막힌다 -->
                                        <tr>
                                            <th><label for="etflagView">지급여부</label></th>
                                            <td><input type="text" id="etflagView" class="wp100" readonly disabled/></td>
                                            <th><label for="payView">지급액</label></th>
                                            <td><input type="text" id="payView" class="wp100" readonly disabled
                                                       style="text-align:right"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>

                            <div class="tab-wrap">
                                <ul class="tab-links">
                                    <li><a href="#tabDetail" title="비용상세" id="detailTabLink">비용상세</a></li>
                                    <li><a href="#tabPcode" title="거래명세표" id="pcodeTabLink">거래명세표</a></li>
                                </ul>
                                <div class="tab-contents">
                                    <section class="tab-item" id="tabDetail">
                                        <dl style="text-align:right;">
                                            <dt></dt>
                                            <dd>
                                                <button type="button" class="btn-excellt btn-default" id="btnRowAdd"
                                                        style="width:115px; height:36px;"><i class="fas fa-plus"></i> 행추가</button>
                                                <button type="button" class="btn-delete btn-danger" id="btnRowDel"
                                                        style="width:115px; height:36px;"><i class="fas fa-trash"></i> 행삭제</button>
                                            </dd>
                                        </dl>
                                        <div id="theGridDetail" style="height:330px; margin-top:6px"></div>
                                    </section>
                                    <section class="tab-item" id="tabPcode">
                                        <!-- 자재입고에서 넘어온 품목이라 이 화면에서는 보기만 한다 -->
                                        <div id="theGridPcode" style="height:380px; margin-top:6px"></div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <!-- 거래처는 사업체 DB(TB_XCLIENT) 기준이라 popup_company 가 아니라 popup_client 를 쓴다 -->
    <th:block th:replace="common/popup_client :: popup_client"></th:block>

    <script type="text/javascript">

        /**
         * 매입관리 — 파워빌더 '비용등록'(w_tb_ca640) 화면.
         * 헤더 TB_CA640 + 상세 TB_CA641 이고, 거래명세표(TB_CA641_PCODE)는 조회만 한다.
         */
        class PurchaseInvoicePage {

            constructor() {
                this.url = '/api/tran/purchase';
                this.headerData = new wijmo.collections.CollectionView([]);
                this.detailData = new wijmo.collections.CollectionView([]);
                this.pcodeData = new wijmo.collections.CollectionView([]);
                this.gridHeader = null;
                this.gridDetail = null;
                this.gridPcode = null;
                this.init();
            }

            init() {
                const _this = this;

                AjaxUtil.fillSelectOptions($('#searchGubun'), 'purchase_gubun', 'all', false);
                AjaxUtil.fillSelectOptions($('#gubun'), 'purchase_gubun', 'choose', false);
                AjaxUtil.fillSelectOptions($('#taxreclafi'), 'tax_deduct', 'choose', false);
                AjaxUtil.fillSelectOptions($('#artcd'), 'expense_art', 'choose', false);
                AjaxUtil.fillSelectOptions($('#divicd'), 'depart', 'choose', false);

                this.gridHeader = new wijmo.grid.FlexGrid('#theGridHeader', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    showMarquee: true,
                    itemsSource: this.headerData,
                    columns: [
                        {binding: 'mijdate_fmt', header: '매입일자', align: 'center', width: 100},
                        {binding: 'mijnum', header: '번호', align: 'center', width: 60},
                        {binding: 'cltnm', header: '거래처', align: 'left', width: 150},
                        {binding: 'remark', header: '제목', align: 'left', width: '*'},
                        {binding: 'gubunnm', header: '증빙구분', align: 'center', width: 110},
                        {binding: 'bhflag', header: '발행구분', align: 'center', width: 80},
                        {binding: 'mijamt', header: '발생금액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'},
                        {binding: 'iamt', header: '지급액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'},
                        {binding: 'payyn', header: '지급', align: 'center', width: 70}
                    ]
                });
                this.gridHeader.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridHeader);
                this.gridHeader.downloadFileName = '매입관리';
                this.gridHeader.columnFooters.rows.push(new wijmo.grid.GroupRow());

                this.gridHeader.selectionChanged.addHandler((s) => {
                    const item = s.selectedItems && s.selectedItems[0];
                    if (item) _this.bindHeader(item);
                });

                // 신규등록으로 폼을 비운 뒤 같은 행을 다시 누르면 selectionChanged 가 안 온다
                this.gridHeader.hostElement.addEventListener('click', (e) => {
                    const ht = _this.gridHeader.hitTest(e);
                    if (ht.cellType !== wijmo.grid.CellType.Cell) return;
                    const item = _this.gridHeader.rows[ht.row] && _this.gridHeader.rows[ht.row].dataItem;
                    if (item) _this.bindHeader(item);
                });

                this.gridDetail = new wijmo.grid.FlexGrid('#theGridDetail', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: false,
                    showMarquee: true,
                    itemsSource: this.detailData,
                    columns: [
                        {binding: 'remark', header: '적요', align: 'left', width: '*'},
                        {binding: 'size', header: '규격', align: 'left', width: 100},
                        {binding: 'unit', header: '단위', align: 'center', width: 70},
                        {binding: 'qty', header: '수량', align: 'right', width: 80, format: 'n0'},
                        {binding: 'uamt', header: '단가', align: 'right', width: 100, format: 'n0'},
                        {binding: 'samt', header: '공급가액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'},
                        {binding: 'tamt', header: '부가세', align: 'right', width: 110, format: 'n0', aggregate: 'Sum'},
                        {binding: 'mijamt', header: '합계', align: 'right', width: 120, format: 'n0', aggregate: 'Sum', isReadOnly: true}
                    ]
                });
                this.gridDetail.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridDetail);
                this.gridDetail.downloadFileName = '매입상세';
                this.gridDetail.columnFooters.rows.push(new wijmo.grid.GroupRow());

                // 수량·단가를 넣으면 공급가액을, 공급가액·부가세를 넣으면 합계를 만든다 (파워빌더와 같다)
                this.gridDetail.cellEditEnded.addHandler((s, e) => {
                    const item = s.rows[e.row].dataItem;
                    const binding = s.columns[e.col].binding;
                    if (binding === 'qty' || binding === 'uamt') {
                        const qty = Number(item.qty) || 0;
                        const uamt = Number(item.uamt) || 0;
                        if (qty !== 0 && uamt !== 0) item.samt = Math.round(qty * uamt);
                    }
                    item.mijamt = (Number(item.samt) || 0) + (Number(item.tamt) || 0);
                    s.invalidate();
                    _this.refreshTotal();
                });

                this.gridPcode = new wijmo.grid.FlexGrid('#theGridPcode', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    showMarquee: true,
                    itemsSource: this.pcodeData,
                    columns: [
                        {binding: 'pcode', header: '품목코드', align: 'center', width: 110},
                        {binding: 'pname', header: '품목명', align: 'left', width: '*'},
                        {binding: 'psize', header: '규격', align: 'left', width: 100},
                        {binding: 'punit', header: '단위', align: 'center', width: 70},
                        {binding: 'qty', header: '수량', align: 'right', width: 80, format: 'n0'},
                        {binding: 'uamt', header: '단가', align: 'right', width: 100, format: 'n0'},
                        {binding: 'samt', header: '공급가액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'},
                        {binding: 'tamt', header: '부가세', align: 'right', width: 110, format: 'n0', aggregate: 'Sum'},
                        {binding: 'mijamt', header: '합계', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'}
                    ]
                });
                this.gridPcode.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridPcode);
                this.gridPcode.downloadFileName = '거래명세표';

                $('#keyword').on('keypress', function (e) {
                    if (e.keyCode === 13) _this.search();
                });

            }

            // ── 조회 ─────────────────────────────────────────────
            search() {
                const _this = this;
                const data = {
                    start: $('#searchfrdate').val(),
                    end: $('#searchtodate').val(),
                    keyword: $('#keyword').val() || '',
                    gubun: $('#searchGubun').val() || '',
                    bhflag: $('#searchBhflag').val() || '',
                    spjangcd: getSpjangcdFromSession()
                };

                AjaxUtil.getAsyncData(this.url + '/read', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.headerData = new wijmo.collections.CollectionView(rows);
                    _this.gridHeader.itemsSource = _this.headerData;
                    // 행이 있으면 selectionChanged 가 첫 행을 폼에 올려준다
                    if (rows.length === 0) _this.clearForm();
                });
            }

            loadDetail(mijdate, mijnum) {
                const _this = this;
                const data = {mijdate: mijdate, mijnum: mijnum, spjangcd: getSpjangcdFromSession()};

                AjaxUtil.getAsyncData(this.url + '/detail', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.detailData = new wijmo.collections.CollectionView(rows);
                    _this.gridDetail.itemsSource = _this.detailData;
                    _this.refreshTotal();
                });

                AjaxUtil.getAsyncData(this.url + '/pcode', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.pcodeData = new wijmo.collections.CollectionView(rows);
                    _this.gridPcode.itemsSource = _this.pcodeData;
                });
            }

            // ── 폼 ───────────────────────────────────────────────
            bindHeader(item) {
                $('#mijdateKey').val(item.mijdate || '');
                $('#mijnumKey').val(item.mijnum || '');

                $('#mijdate').val(toDateInput(item.mijdate));
                $('#mijnum').val(item.mijnum || '');
                $('#cltnm').val(item.cltnm || '');
                $('#cltcdHidden').val(item.cltcd || '');
                $('#mijcltnm').val(item.mijcltnm || '');
                $('#mijcltcdHidden').val(item.mijcltcd || '');
                $('#remark').val(item.remark || '');
                $('#bigo').val(item.bigo || '');
                $('#gubun').val(item.gubun || '');
                $('#billkind').val(item.billkind || '0');
                $('#taxreclafi').val(item.taxreclafi || '');
                $('#bhflag').val(item.bhflag || '');
                $('#artcd').val(item.artcd || '');
                $('#divicd').val(item.divicd || '');
                $('#tax_spdate').val(toDateInput(item.tax_spdate));
                $('#schdate').val(toDateInput(item.schdate));
                $('#yyyymm').val(item.yyyymm || '');
                $('#mijamtView').val(numberWithCommas(item.mijamt || 0));
                $('#payView').val(numberWithCommas(item.iamt || 0));
                $('#etflagView').val(item.payyn || '');

                this.loadDetail(item.mijdate, item.mijnum);
            }

            clearForm() {
                $('#mijdateKey').val('');
                $('#mijnumKey').val('');
                $('#purchaseForm')[0].reset();
                $('#cltcdHidden').val('');
                $('#mijcltcdHidden').val('');
                $('#mijamtView').val('');
                $('#payView').val('');
                $('#etflagView').val('');
                this.detailData = new wijmo.collections.CollectionView([]);
                this.gridDetail.itemsSource = this.detailData;
                this.pcodeData = new wijmo.collections.CollectionView([]);
                this.gridPcode.itemsSource = this.pcodeData;
            }

            refreshTotal() {
                let sum = 0;
                (this.detailData.sourceCollection || []).forEach(r => {
                    sum += Number(r.mijamt) || 0;
                });
                $('#mijamtView').val(numberWithCommas(sum));
            }

            // ── 저장 / 삭제 ──────────────────────────────────────
            save() {
                const _this = this;

                if (!$('#mijdate').val()) {
                    Alert.alert('', '매입일자를 입력해주세요.');
                    return;
                }
                if (!$('#cltcdHidden').val()) {
                    Alert.alert('', '거래처를 선택해주세요.');
                    return;
                }

                // 화면에서 미리 걸러 준다. 서버도 같은 규칙으로 한 번 더 막는다
                const rows = (this.detailData.sourceCollection || [])
                    .filter(r => String(r.remark || '').trim() !== '');
                if (rows.length === 0) {
                    Alert.alert('', '비용상세를 입력해주세요.');
                    return;
                }

                const header = {
                    mijdate: $('#mijdate').val(),
                    mijnum: $('#mijnumKey').val(),
                    cltcd: $('#cltcdHidden').val(),
                    cltnm: $('#cltnm').val(),
                    mijcltcd: $('#mijcltcdHidden').val(),
                    mijcltnm: $('#mijcltnm').val(),
                    remark: $('#remark').val(),
                    bigo: $('#bigo').val(),
                    gubun: $('#gubun').val() || '',
                    billkind: $('#billkind').val() || '0',
                    taxreclafi: $('#taxreclafi').val() || '',
                    bhflag: $('#bhflag').val() || '',
                    artcd: $('#artcd').val() || '',
                    divicd: $('#divicd').val() || '',
                    acccd: '',
                    actcd: '',
                    tax_spdate: $('#tax_spdate').val(),
                    schdate: $('#schdate').val(),
                    yyyymm: $('#yyyymm').val()
                };

                Alert.confirm('', '저장하시겠습니까?', function () {
                    $.ajax({
                        url: _this.url + '/save',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            spjangcd: getSpjangcdFromSession(),
                            header: header,
                            details: rows
                        }),
                        headers: {'X-CSRF-Token': $('[name=_csrf]').val()},
                        success: function (result) {
                            if (result && result.success) {
                                Alert.alert('', '저장되었습니다.');
                                _this.search();
                            } else {
                                Alert.alert('', (result && result.message) || '저장에 실패했습니다.');
                            }
                        },
                        error: function (xhr) {
                            Alert.alert('에러', '서버 오류 발생: ' + xhr.statusText);
                        }
                    });
                });
            }

            remove() {
                const _this = this;
                const mijdate = $('#mijdateKey').val();
                const mijnum = $('#mijnumKey').val();

                if (!mijdate || !mijnum) {
                    Alert.alert('', '삭제할 매입을 선택해주세요.');
                    return;
                }

                Alert.confirm('', '삭제하시겠습니까?', function () {
                    AjaxUtil.postAsyncData(_this.url + '/delete',
                        {mijdate: mijdate, mijnum: mijnum, spjangcd: getSpjangcdFromSession()},
                        function (result) {
                            if (result && result.success) {
                                Alert.alert('', '삭제되었습니다.');
                                _this.search();
                            } else {
                                Alert.alert('', (result && result.message) || '삭제에 실패했습니다.');
                            }
                        });
                });
            }
        }

        /** 'yyyyMMdd' → 'yyyy-MM-dd'. 비어 있으면 빈 값 */
        function toDateInput(v) {
            const s = String(v || '').replace(/-/g, '');
            if (s.length !== 8) return '';
            return s.substring(0, 4) + '-' + s.substring(4, 6) + '-' + s.substring(6, 8);
        }

        function numberWithCommas(n) {
            const v = Number(n) || 0;
            return v.toLocaleString('ko-KR');
        }

        let page = null;

        $(document).ready(function () {

            // 기본 조회기간은 이번 달
            const today = new Date();
            const first = new Date(today.getFullYear(), today.getMonth(), 1);
            $('#searchfrdate').val(CommonUtil.formatYYYYMMDD(first));
            $('#searchtodate').val(CommonUtil.formatYYYYMMDD(today));

            page = new PurchaseInvoicePage();

            $('#btnSearch').click(function () {
                page.search();
            });

            $('#cltnm').click(function () {
                clientPopupOpen('cltnm', 'cltcdHidden');
            });
            $('#mijcltnm').click(function () {
                clientPopupOpen('mijcltnm', 'mijcltcdHidden');
            });

            $('#btnNew').click(function (e) {
                e.preventDefault();
                page.clearForm();
                $('#mijdate').val(CommonUtil.formatYYYYMMDD(new Date()));
                $('#billkind').val('0');
            });

            $('#btnSave').click(function (e) {
                e.preventDefault();
                page.save();
            });

            $('#btnDelete').click(function (e) {
                e.preventDefault();
                page.remove();
            });

            $('#btnRowAdd').click(function () {
                page.detailData.sourceCollection.push({
                    remark: '', size: '', unit: '',
                    qty: 0, uamt: 0, samt: 0, tamt: 0, mijamt: 0
                });
                page.detailData.refresh();
            });

            $('#btnRowDel').click(function () {
                const sel = page.gridDetail.selection;
                if (!sel || sel.row < 0) return;
                const item = page.gridDetail.rows[sel.row].dataItem;
                const idx = page.detailData.sourceCollection.indexOf(item);
                if (idx > -1) {
                    page.detailData.sourceCollection.splice(idx, 1);
                    page.detailData.refresh();
                    page.refreshTotal();
                }
            });

            page.search();
        });
    </script>
</th:block>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>
