<html layout:decorate="~{layout_page}">
<th:block layout:fragment="content">
    <div class="layout-contents">
        <div class="page-title-wrap">
            <div class="left">
                <h2>매출관리</h2>
                <a title="북마크" class="bookmark toggle">
                    내 메뉴
                </a>
            </div>
            <ul class="page-navi">
                <li><img th:src="@{/images/icon/ico-nav-home.svg}" alt="홈아이콘"></li>
                <li>입출금입력</li>
                <li>매출관리</li>
            </ul>
        </div>

        <section class="section">
            <div class="section-top">
                <div class="search-wrap">
                    <dl>
                        <dt><label>매출일자</label></dt>
                        <dd>
                            <div class="srch-box">
                                <input type="date" id="searchfrdate" name="searchfrdate"/>
                                <span class="slow_sign">~</span>
                                <input type="date" id="searchtodate" name="searchtodate"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>검색어</label></dt>
                        <dd>
                            <div class="srch-box">
                                <input class="form-control2" type="text" id="keyword" name="keyword"
                                       placeholder="거래처 / 현장 / 적요" style="width:190px"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>매출구분</label></dt>
                        <dd>
                            <select class="form-control2" id="searchGubun" name="searchGubun"></select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>매출분류</label></dt>
                        <dd>
                            <select class="form-control2" id="searchBillgubun" name="searchBillgubun">
                                <option value="">전체</option>
                                <option value="1">매출</option>
                                <option value="2">비매출</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd>
                            <ul>
                                <li>
                                    <a class="btn btn-delete" title="검색" id="btnSearch">
                                        <img th:src="@{/images/icon/btn-srch.svg}" alt="검색 아이콘">
                                        검색
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="button-wrap" style="border-top:none; text-align: right;">
                    <ul>
                        <li>
                            <a class="btn btn-excell" title="신규등록" id="btnNew">
                                <img th:src="@{/images/icon/ico-plus.svg}" alt="등록 아이콘">
                                신규등록
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-edit" title="저장" id="btnSave">
                                <img th:src="@{/images/icon/ico-save.svg}" alt="저장 아이콘">
                                저장
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-delete" title="삭제" id="btnDelete">
                                <img th:src="@{/images/icon/ico-delete.svg}" alt="삭제 아이콘">
                                삭제
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <!-- 왼쪽: 매출 목록 -->
                    <div class="wp40">
                        <div class="container-fluid col">
                            <div id="theGridHeader" style="height:860px"></div>
                        </div>
                    </div>

                    <!-- 오른쪽: 매출 내용 + 상세 -->
                    <div class="col wp60">
                        <div class="section">
                            <form id="salesForm" onsubmit="return false;">
                                <input type="hidden" id="misdateKey"/>
                                <input type="hidden" id="misnumKey"/>
                                <input type="hidden" id="cltcdHidden"/>
                                <input type="hidden" id="orgCltcdHidden"/>
                                <input type="hidden" id="actcdHidden"/>
                                <!-- 입금등록(misflag)은 지급전표를 함께 만드는 기능이라 이번 범위가 아니다.
                                     화면에서는 보기만 하고 저장할 때 읽어온 값을 그대로 돌려보낸다 -->
                                <input type="hidden" id="misflagHidden"/>

                                <div class="table-wrap">
                                    <table class="view-table">
                                        <caption>매출 내용</caption>
                                        <tbody>
                                        <tr>
                                            <th><label for="misdate">매출일자</label></th>
                                            <td><input type="date" id="misdate" name="misdate" class="wp100"/></td>
                                            <th><label for="misnum">번호</label></th>
                                            <td><input type="text" id="misnum" name="misnum" class="wp100"
                                                       placeholder="저장 시 자동 채번" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="actnm">현장명</label></th>
                                            <td><input type="text" id="actnm" name="actnm" class="wp100"
                                                       placeholder="클릭해서 선택" readonly/></td>
                                            <th><label for="spjangnum">종사업장번호</label></th>
                                            <td><input type="text" id="spjangnum" name="spjangnum" class="wp100"
                                                       maxlength="10"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="cltnm">거래처명</label></th>
                                            <td colspan="3"><input type="text" id="cltnm" name="cltnm" class="wp100"
                                                                   placeholder="클릭해서 선택" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="billgubun">매출분류</label></th>
                                            <td>
                                                <select class="form-control2 wp100" id="billgubun" name="billgubun">
                                                    <option value="1">매출</option>
                                                    <option value="2">비매출</option>
                                                </select>
                                            </td>
                                            <th><label for="gubun">매출구분</label></th>
                                            <td><select class="form-control2 wp100" id="gubun" name="gubun"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="billkind">계산서발행</label></th>
                                            <td>
                                                <select class="form-control2" id="billkind" name="billkind" style="width:52%">
                                                    <option value="0">미발행</option>
                                                    <option value="1">발행</option>
                                                    <option value="2">역발행</option>
                                                    <option value="3">타기관발행</option>
                                                </select>
                                                <select class="form-control2" id="receiptyn" name="receiptyn" style="width:45%">
                                                    <option value="1">영수</option>
                                                    <option value="2">청구</option>
                                                </select>
                                            </td>
                                            <th><label for="wkactcd">회사구분</label></th>
                                            <td><select class="form-control2 wp100" id="wkactcd" name="wkactcd"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="taxcls">부가세구분</label></th>
                                            <td>
                                                <select class="form-control2 wp100" id="taxcls" name="taxcls">
                                                    <option value="0">별도</option>
                                                    <option value="1">포함</option>
                                                </select>
                                            </td>
                                            <th><label for="taxgubun">과세구분</label></th>
                                            <td><select class="form-control2 wp100" id="taxgubun" name="taxgubun"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="accnm">계정코드</label></th>
                                            <td>
                                                <input type="hidden" id="acccd" name="acccd"/>
                                                <input type="text" id="accnm" name="accnm" class="wp100"
                                                       placeholder="클릭해서 선택" readonly/>
                                            </td>
                                            <th><label for="yyyymm">귀속년월</label></th>
                                            <td><input type="text" id="yyyymm" name="yyyymm" class="wp100"
                                                       maxlength="6" placeholder="비우면 매출일자 년월"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="divicd">귀속부서</label></th>
                                            <td><select class="form-control2 wp100" id="divicd" name="divicd"></select></td>
                                            <th><label for="perid">담당자명</label></th>
                                            <td><select class="form-control2 wp100" id="perid" name="perid"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="misflagView">입금등록</label></th>
                                            <td><input type="text" id="misflagView" class="wp100" readonly disabled/></td>
                                            <th><label for="accyn">전표분개</label></th>
                                            <td>
                                                <select class="form-control2 wp100" id="accyn" name="accyn">
                                                    <option value="0">미적용</option>
                                                    <option value="1">적용</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="bankcd">입금은행</label></th>
                                            <td colspan="3"><select class="form-control2 wp100" id="bankcd" name="bankcd"></select></td>
                                        </tr>
                                        <tr>
                                            <th><label for="tax_spdate">계산서일자</label></th>
                                            <td>
                                                <input type="date" id="tax_spdate" name="tax_spdate" style="width:64%"/>
                                                <input type="text" id="tax_spnum" name="tax_spnum" style="width:33%"
                                                       maxlength="4" placeholder="번호"/>
                                            </td>
                                            <th><label for="vatpernm">담당자</label></th>
                                            <td><input type="text" id="vatpernm" name="vatpernm" class="wp100" maxlength="20"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="vatemail">계산서Email</label></th>
                                            <td colspan="3"><input type="text" id="vatemail" name="vatemail" class="wp100" maxlength="50"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="jirogubun">지로구분</label></th>
                                            <td>
                                                <select class="form-control2 wp100" id="jirogubun" name="jirogubun">
                                                    <option value="">선택</option>
                                                    <option value="0">미발행</option>
                                                    <option value="1">발행</option>
                                                </select>
                                            </td>
                                            <th><label for="jirodate">지로납기일</label></th>
                                            <td><input type="date" id="jirodate" name="jirodate" class="wp100"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="projno">프로젝트</label></th>
                                            <td>
                                                <input type="hidden" id="projnoHidden"/>
                                                <input type="text" id="projno" name="projno" class="wp100"
                                                       placeholder="클릭해서 선택" readonly/>
                                            </td>
                                            <th><label for="ibgdate">수금예정일</label></th>
                                            <td><input type="date" id="ibgdate" name="ibgdate" class="wp100"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="amt">공급가 / VAT</label></th>
                                            <td colspan="3">
                                                <input type="text" id="amt" name="amt" style="width:30%; text-align:right" readonly/>
                                                <input type="text" id="addamt" name="addamt" style="width:30%; text-align:right" readonly/>
                                                <input type="text" id="misamt" name="misamt" style="width:30%; text-align:right" readonly/>
                                                <label style="margin-left:6px">
                                                    <input type="checkbox" id="halflag"/> 금액조정
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="bigo">비 고</label></th>
                                            <td colspan="3"><input type="text" id="bigo" name="bigo" class="wp100" maxlength="255"/></td>
                                        </tr>
                                        <tr>
                                            <th><label for="emtaxbillno">지로개별공지</label></th>
                                            <td><input type="text" id="emtaxbillno" name="emtaxbillno" class="wp100" maxlength="50"/></td>
                                            <th><label for="remarkView">적요</label></th>
                                            <td><input type="text" id="remarkView" class="wp100" readonly disabled
                                                       placeholder="저장할 때 상세에서 만든다"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>

                            <div class="tab-wrap">
                                <ul class="tab-links">
                                    <li><a href="#tabDetail" title="매출상세" id="detailTabLink">매출상세</a></li>
                                    <li><a href="#tabPcode" title="거래명세표" id="pcodeTabLink">거래명세표</a></li>
                                </ul>
                                <div class="tab-contents">
                                    <section class="tab-item" id="tabDetail">
                                        <dl style="text-align:right;">
                                            <dt></dt>
                                            <dd>
                                                <button type="button" class="btn-excellt btn-default" id="btnRowAdd"
                                                        style="width:115px; height:36px;"><i class="fas fa-plus"></i> 행추가</button>
                                                <button type="button" class="btn-delete btn-danger" id="btnRowDel"
                                                        style="width:115px; height:36px;"><i class="fas fa-trash"></i> 행삭제</button>
                                            </dd>
                                        </dl>
                                        <div id="theGridDetail" style="height:260px; margin-top:6px"></div>
                                    </section>
                                    <section class="tab-item" id="tabPcode">
                                        <!-- 파워빌더에서도 이 탭은 다른 화면이 만들어 준 자료라 여기서는 보기만 한다 -->
                                        <div id="theGridPcode" style="height:310px; margin-top:6px"></div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <!-- 거래처는 사업체 DB(TB_XCLIENT) 기준이라 popup_company 가 아니라 popup_client 를 쓴다 -->
    <th:block th:replace="common/popup_client :: popup_client"></th:block>
    <th:block th:replace="common/popup_acccd :: popup_acccd"></th:block>
    <th:block th:replace="common/popup_project :: popup_project"></th:block>

    <script type="text/javascript">

        /**
         * 매출관리 — 파워빌더 '매출등록'(w_tb_da023) 화면.
         * 헤더 TB_DA023 + 상세 TB_DA024 이고, 거래명세표(TB_DA024_PCODE)는 조회만 한다.
         *
         * 세금계산서 발행·팝빌·KTNET·수리완료 연동은 이번 범위가 아니다.
         */
        class SalesRegisterPage {

            constructor() {
                this.url = '/api/tran/sales_register';
                this.headerData = new wijmo.collections.CollectionView([]);
                this.detailData = new wijmo.collections.CollectionView([]);
                this.pcodeData = new wijmo.collections.CollectionView([]);
                this.gridHeader = null;
                this.gridDetail = null;
                this.gridPcode = null;
                this.actRows = [];   // 현장 선택창이 들고 있는 조회 결과
                this.init();
            }

            init() {
                const _this = this;

                AjaxUtil.fillSelectOptions($('#searchGubun'), 'sales_type', 'all', false);
                AjaxUtil.fillSelectOptions($('#gubun'), 'sales_type', 'choose', false);
                AjaxUtil.fillSelectOptions($('#taxgubun'), 'tax_gubun', 'choose', false);
                AjaxUtil.fillSelectOptions($('#wkactcd'), 'wkact', 'choose', false);
                AjaxUtil.fillSelectOptions($('#divicd'), 'depart', 'choose', false);
                AjaxUtil.fillSelectOptions($('#perid'), 'sales_perid', 'choose', false);
                AjaxUtil.fillSelectOptions($('#bankcd'), 'deposit_bank', 'choose', false);

                this.gridHeader = new wijmo.grid.FlexGrid('#theGridHeader', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    showMarquee: true,
                    itemsSource: this.headerData,
                    columns: [
                        {binding: 'misdate_fmt', header: '매출일자', align: 'center', width: 100},
                        {binding: 'misnum', header: '번호', align: 'center', width: 60},
                        {binding: 'cltnm', header: '거래처명', align: 'left', width: 170},
                        {binding: 'actnm', header: '현장명', align: 'left', width: '*'},
                        {binding: 'ipchk', header: '형태', align: 'center', width: 90},
                        {binding: 'miamt', header: '미수잔액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'},
                        {binding: 'misamt', header: '합계금액', align: 'right', width: 120, format: 'n0', aggregate: 'Sum'}
                    ]
                });
                this.gridHeader.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridHeader);
                this.gridHeader.downloadFileName = '매출관리';
                this.gridHeader.columnFooters.rows.push(new wijmo.grid.GroupRow());

                this.gridHeader.selectionChanged.addHandler((s) => {
                    const item = s.selectedItems && s.selectedItems[0];
                    if (item) _this.bindHeader(item);
                });
                // 신규등록으로 폼을 비운 뒤 같은 행을 다시 누르면 selectionChanged 가 안 온다
                this.gridHeader.hostElement.addEventListener('click', (e) => {
                    const ht = _this.gridHeader.hitTest(e);
                    if (ht.cellType !== wijmo.grid.CellType.Cell) return;
                    const item = _this.gridHeader.rows[ht.row] && _this.gridHeader.rows[ht.row].dataItem;
                    if (item) _this.bindHeader(item);
                });

                this.gridDetail = new wijmo.grid.FlexGrid('#theGridDetail', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: false,
                    showMarquee: true,
                    itemsSource: this.detailData,
                    columns: [
                        {binding: 'actnm', header: '현장명', align: 'left', width: 150, isReadOnly: true},
                        {binding: 'equpnm', header: '동호기', align: 'center', width: 90},
                        {binding: 'pname', header: '품명', align: 'left', width: '*'},
                        {binding: 'psize', header: '규격', align: 'left', width: 90},
                        {binding: 'qty', header: '수량', align: 'right', width: 70, format: 'n0'},
                        {binding: 'uamt', header: '단가', align: 'right', width: 95, format: 'n0'},
                        {binding: 'samt', header: '금액', align: 'right', width: 115, format: 'n0', aggregate: 'Sum'},
                        {binding: 'addamt', header: '부가세', align: 'right', width: 105, format: 'n0', aggregate: 'Sum'},
                        {binding: 'amt', header: '합계', align: 'right', width: 115, format: 'n0', aggregate: 'Sum', isReadOnly: true}
                    ]
                });
                this.gridDetail.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridDetail);
                this.gridDetail.downloadFileName = '매출상세';
                this.gridDetail.columnFooters.rows.push(new wijmo.grid.GroupRow());

                // 수량·단가를 넣으면 금액을, 부가세구분이 별도면 부가세까지 만들어 준다
                this.gridDetail.cellEditEnded.addHandler((s, e) => {
                    const item = s.rows[e.row].dataItem;
                    const binding = s.columns[e.col].binding;

                    if (binding === 'qty' || binding === 'uamt') {
                        const qty = Number(item.qty) || 0;
                        const uamt = Number(item.uamt) || 0;
                        if (qty !== 0 && uamt !== 0) item.samt = Math.round(qty * uamt);
                    }
                    if (binding === 'qty' || binding === 'uamt' || binding === 'samt') {
                        // 별도(0) 일 때만 부가세를 10% 로 채운다. 포함(1) 이면 손대지 않는다
                        if ($('#taxcls').val() === '0') {
                            item.addamt = Math.round((Number(item.samt) || 0) * 0.1);
                        }
                    }
                    item.amt = (Number(item.samt) || 0) + (Number(item.addamt) || 0);
                    s.invalidate();
                    _this.refreshTotal();
                });

                this.gridPcode = new wijmo.grid.FlexGrid('#theGridPcode', {
                    autoGenerateColumns: false,
                    selectionMode: wijmo.grid.SelectionMode.Row,
                    isReadOnly: true,
                    showMarquee: true,
                    itemsSource: this.pcodeData,
                    columns: [
                        {binding: 'pcode', header: '품목코드', align: 'center', width: 110},
                        {binding: 'pname', header: '품명', align: 'left', width: '*'},
                        {binding: 'psize', header: '규격', align: 'left', width: 90},
                        {binding: 'punit', header: '단위', align: 'center', width: 70},
                        {binding: 'qty', header: '수량', align: 'right', width: 70, format: 'n0'},
                        {binding: 'uamt', header: '단가', align: 'right', width: 95, format: 'n0'},
                        {binding: 'samt', header: '금액', align: 'right', width: 115, format: 'n0', aggregate: 'Sum'},
                        {binding: 'tamt', header: '부가세', align: 'right', width: 105, format: 'n0', aggregate: 'Sum'},
                        {binding: 'misamt', header: '합계', align: 'right', width: 115, format: 'n0', aggregate: 'Sum'}
                    ]
                });
                this.gridPcode.rowHeaders.columns.splice(0, 1);
                new FlexGridContextMenu(this.gridPcode);
                this.gridPcode.downloadFileName = '거래명세표';

                $('#keyword').on('keypress', function (e) {
                    if (e.keyCode === 13) _this.search();
                });

                // 금액조정을 켜면 공급가·부가세·합계를 직접 입력한다
                $('#halflag').on('change', function () {
                    const on = $(this).is(':checked');
                    $('#amt, #addamt, #misamt').prop('readonly', !on);
                    if (!on) _this.refreshTotal();
                });
            }

            // ── 조회 ─────────────────────────────────────────────
            search() {
                const _this = this;
                const data = {
                    start: $('#searchfrdate').val(),
                    end: $('#searchtodate').val(),
                    keyword: $('#keyword').val() || '',
                    gubun: $('#searchGubun').val() || '',
                    billgubun: $('#searchBillgubun').val() || '',
                    spjangcd: getSpjangcdFromSession()
                };

                AjaxUtil.getAsyncData(this.url + '/read', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.headerData = new wijmo.collections.CollectionView(rows);
                    _this.gridHeader.itemsSource = _this.headerData;
                    // 행이 있으면 selectionChanged 가 첫 행을 폼에 올려준다
                    if (rows.length === 0) _this.clearForm();
                });
            }

            loadDetail(misdate, misnum, cltcd) {
                const _this = this;
                const data = {misdate: misdate, misnum: misnum, cltcd: cltcd, spjangcd: getSpjangcdFromSession()};

                AjaxUtil.getAsyncData(this.url + '/detail', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.detailData = new wijmo.collections.CollectionView(rows);
                    _this.gridDetail.itemsSource = _this.detailData;
                    _this.refreshTotal();
                });

                AjaxUtil.getAsyncData(this.url + '/pcode', data, function (result) {
                    const rows = (result && Array.isArray(result.data)) ? result.data : [];
                    _this.pcodeData = new wijmo.collections.CollectionView(rows);
                    _this.gridPcode.itemsSource = _this.pcodeData;
                });
            }

            // ── 폼 ───────────────────────────────────────────────
            bindHeader(item) {
                $('#misdateKey').val(item.misdate || '');
                $('#misnumKey').val(item.misnum || '');
                $('#orgCltcdHidden').val(item.cltcd || '');

                $('#misdate').val(toDateInput(item.misdate));
                $('#misnum').val(item.misnum || '');
                $('#actnm').val(item.actnm || '');
                $('#actcdHidden').val(item.actcd || '');
                $('#cltnm').val(item.cltnm || '');
                $('#cltcdHidden').val(item.cltcd || '');
                $('#spjangnum').val(item.spjangnum || '');
                $('#billgubun').val(item.billgubun || '1');
                $('#gubun').val(item.gubun || '');
                $('#billkind').val(item.billkind || '1');
                $('#receiptyn').val(item.receiptyn || '1');
                $('#wkactcd').val(item.wkactcd || '');
                $('#taxcls').val(item.taxcls || '0');
                $('#taxgubun').val(item.taxgubun || '01');
                $('#acccd').val(item.acccd || '');
                $('#accnm').val(item.accnm || '');
                $('#yyyymm').val(item.yyyymm || '');
                $('#divicd').val(item.divicd || '');
                $('#perid').val(item.perid || '');
                $('#misflagHidden').val(item.misflag || '');
                $('#misflagView').val(item.misflag === '1' ? '불필요' : '자동등록');
                $('#accyn').val(item.accyn || '0');
                $('#bankcd').val(item.bankcd || '');
                $('#tax_spdate').val(toDateInput(item.tax_spdate));
                $('#tax_spnum').val(item.tax_spnum || '');
                $('#vatpernm').val(item.vatpernm || '');
                $('#vatemail').val(item.vatemail || '');
                $('#jirogubun').val(item.jirogubun || '');
                $('#jirodate').val(toDateInput(item.jirodate));
                $('#projnoHidden').val(item.projno || '');
                $('#projno').val(item.projnm || item.projno || '');
                $('#ibgdate').val(toDateInput(item.ibgdate));
                $('#bigo').val(item.bigo || '');
                $('#emtaxbillno').val(item.emtaxbillno || '');
                $('#remarkView').val(item.remark || '');

                const adjusted = item.halflag === '1';
                $('#halflag').prop('checked', adjusted);
                $('#amt, #addamt, #misamt').prop('readonly', !adjusted);
                $('#amt').val(numberWithCommas(item.amt || 0));
                $('#addamt').val(numberWithCommas(item.addamt || 0));
                $('#misamt').val(numberWithCommas(item.misamt || 0));

                this.loadDetail(item.misdate, item.misnum, item.cltcd);
            }

            clearForm() {
                $('#salesForm')[0].reset();
                $('#misdateKey, #misnumKey, #cltcdHidden, #orgCltcdHidden, #actcdHidden,' +
                  '#misflagHidden, #projnoHidden').val('');
                $('#amt, #addamt, #misamt, #remarkView, #misflagView, #accnm').val('');
                $('#halflag').prop('checked', false);
                $('#amt, #addamt, #misamt').prop('readonly', true);

                this.detailData = new wijmo.collections.CollectionView([]);
                this.gridDetail.itemsSource = this.detailData;
                this.pcodeData = new wijmo.collections.CollectionView([]);
                this.gridPcode.itemsSource = this.pcodeData;
            }

            /** 금액조정이 꺼져 있을 때만 상세 합계를 헤더에 올린다 (파워빌더와 동일) */
            refreshTotal() {
                if ($('#halflag').is(':checked')) return;

                let samt = 0, addamt = 0;
                (this.detailData.sourceCollection || []).forEach(r => {
                    samt += Number(r.samt) || 0;
                    addamt += Number(r.addamt) || 0;
                });
                $('#amt').val(numberWithCommas(samt));
                $('#addamt').val(numberWithCommas(addamt));
                $('#misamt').val(numberWithCommas(samt + addamt));
            }

            // ── 저장 / 삭제 ──────────────────────────────────────
            save() {
                const _this = this;

                if (!$('#misdate').val()) {
                    Alert.alert('', '매출일자를 다시 선택해주세요.');
                    return;
                }
                if (!$('#cltcdHidden').val()) {
                    Alert.alert('', '거래처를 선택해주세요.');
                    return;
                }

                // 화면에서 미리 걸러 준다. 서버도 같은 규칙으로 한 번 더 막는다
                const rows = (this.detailData.sourceCollection || [])
                    .filter(r => String(r.pname || '').trim() !== '');
                if (rows.length === 0) {
                    Alert.alert('', '매출할 품목이 없습니다.');
                    return;
                }

                const header = {
                    misdate: $('#misdate').val(),
                    misnum: $('#misnumKey').val(),
                    cltcd: $('#cltcdHidden').val(),
                    orgCltcd: $('#orgCltcdHidden').val(),
                    actcd: $('#actcdHidden').val(),
                    spjangnum: $('#spjangnum').val(),
                    billgubun: $('#billgubun').val() || '1',
                    gubun: $('#gubun').val() || '',
                    billkind: $('#billkind').val() || '1',
                    receiptyn: $('#receiptyn').val() || '',
                    wkactcd: $('#wkactcd').val() || '',
                    taxcls: $('#taxcls').val() || '0',
                    taxgubun: $('#taxgubun').val() || '01',
                    acccd: $('#acccd').val() || '',
                    yyyymm: $('#yyyymm').val(),
                    divicd: $('#divicd').val() || '',
                    perid: $('#perid').val() || '',
                    misflag: $('#misflagHidden').val() || '',
                    accyn: $('#accyn').val() || '0',
                    bankcd: $('#bankcd').val() || '',
                    tax_spdate: $('#tax_spdate').val(),
                    tax_spnum: $('#tax_spnum').val(),
                    vatpernm: $('#vatpernm').val(),
                    vatemail: $('#vatemail').val(),
                    jirogubun: $('#jirogubun').val() || '',
                    jirodate: $('#jirodate').val(),
                    projno: $('#projnoHidden').val() || '',
                    ibgdate: $('#ibgdate').val(),
                    bigo: $('#bigo').val(),
                    emtaxbillno: $('#emtaxbillno').val(),
                    halflag: $('#halflag').is(':checked') ? '1' : '0',
                    amt: unformat($('#amt').val()),
                    addamt: unformat($('#addamt').val()),
                    misamt: unformat($('#misamt').val())
                };

                Alert.confirm('', '저장하시겠습니까?', function () {
                    $.ajax({
                        url: _this.url + '/save',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            spjangcd: getSpjangcdFromSession(),
                            header: header,
                            details: rows
                        }),
                        headers: {'X-CSRF-Token': $('[name=_csrf]').val()},
                        success: function (result) {
                            if (result && result.success) {
                                Alert.alert('', '저장되었습니다.');
                                _this.search();
                            } else {
                                Alert.alert('', (result && result.message) || '저장에 실패했습니다.');
                            }
                        },
                        error: function (xhr) {
                            Alert.alert('에러', '서버 오류 발생: ' + xhr.statusText);
                        }
                    });
                });
            }

            remove() {
                const _this = this;
                const misdate = $('#misdateKey').val();
                const misnum = $('#misnumKey').val();
                const cltcd = $('#orgCltcdHidden').val();

                if (!misdate || !misnum) {
                    Alert.alert('', '삭제할 매출을 선택해주세요.');
                    return;
                }

                Alert.confirm('', '삭제하시겠습니까?', function () {
                    AjaxUtil.postAsyncData(_this.url + '/delete',
                        {misdate: misdate, misnum: misnum, cltcd: cltcd, spjangcd: getSpjangcdFromSession()},
                        function (result) {
                            if (result && result.success) {
                                Alert.alert('', '삭제되었습니다.');
                                _this.search();
                            } else {
                                Alert.alert('', (result && result.message) || '삭제에 실패했습니다.');
                            }
                        });
                });
            }

            /** 현장 선택창을 연다. 공용 팝업이 없어 이 화면 안에 목록을 띄운다 */
            openActPopup() {
                $('#actPickKeyword').val($('#actnm').val() || '');
                $('#actPickList').empty();
                $('#actPickBox').show();
                $('#actPickKeyword').focus();
                this.searchAct();
            }

            searchAct() {
                const _this = this;
                AjaxUtil.getAsyncData(this.url + '/actcd',
                    {keyword: $('#actPickKeyword').val() || '', spjangcd: getSpjangcdFromSession()},
                    function (result) {
                        const rows = (result && Array.isArray(result.data)) ? result.data : [];
                        const $list = $('#actPickList');
                        $list.empty();
                        // 911개라 한 번에 다 그리면 느려서 200개까지만 보여준다
                        rows.slice(0, 200).forEach((r, i) => {
                            $list.append($('<option>').val(i)
                                .text(r.actnm + '  [' + r.actcd + ']  ' + (r.cltnm || '')));
                        });
                        $('#actPickCount').text(rows.length > 200
                            ? rows.length + '건 중 200건' : rows.length + '건');
                        _this.actRows = rows;
                    });
            }

            /** 고른 현장의 거래처·회사구분·부서·담당자를 같이 채워 준다 */
            applyAct() {
                const idx = $('#actPickList').val();
                if (idx === null || idx === undefined) return;

                const r = (this.actRows || [])[Number(idx)];
                if (!r) return;

                $('#actcdHidden').val(r.actcd);
                $('#actnm').val(r.actnm);
                if (r.cltcd) {
                    $('#cltcdHidden').val(r.cltcd);
                    $('#cltnm').val(r.cltnm || '');
                }
                if (r.wkactcd) $('#wkactcd').val(r.wkactcd);
                if (r.divicd) $('#divicd').val(r.divicd);
                if (r.perid) $('#perid').val(r.perid);

                $('#actPickBox').hide();
                this.applyActToDetails();
            }

            /** 헤더 현장을 상세 행에도 내려준다 */
            applyActToDetails() {
                const actcd = $('#actcdHidden').val();
                const actnm = $('#actnm').val();
                (this.detailData.sourceCollection || []).forEach(r => {
                    if (!r.actcd) { r.actcd = actcd; r.actnm = actnm; }
                });
                this.detailData.refresh();
            }
        }

        /** 'yyyyMMdd' → 'yyyy-MM-dd'. 비어 있으면 빈 값 */
        function toDateInput(v) {
            const s = String(v || '').replace(/-/g, '');
            if (s.length !== 8) return '';
            return s.substring(0, 4) + '-' + s.substring(4, 6) + '-' + s.substring(6, 8);
        }

        function numberWithCommas(n) {
            const v = Number(n) || 0;
            return v.toLocaleString('ko-KR');
        }

        function unformat(s) {
            const v = Number(String(s || '').replace(/,/g, ''));
            return isNaN(v) ? 0 : v;
        }

        let page = null;

        $(document).ready(function () {

            // 기본 조회기간은 이번 달
            const today = new Date();
            const first = new Date(today.getFullYear(), today.getMonth(), 1);
            $('#searchfrdate').val(CommonUtil.formatYYYYMMDD(first));
            $('#searchtodate').val(CommonUtil.formatYYYYMMDD(today));

            page = new SalesRegisterPage();

            $('#btnSearch').click(function () {
                page.search();
            });

            $('#actnm').click(function () {
                page.openActPopup();
            });
            $('#cltnm').click(function () {
                clientPopupOpen('cltnm', 'cltcdHidden');
            });
            $('#accnm').click(function () {
                const popup = new PopAccountCodeComponent();
                popup.show(function (item) {
                    if (!item) return;
                    $('#acccd').val(item.acccd || '');
                    $('#accnm').val(item.accnm || '');
                });
            });
            $('#projno').click(function () {
                const popup = new PopProjectComponent();
                popup.show(function (item) {
                    if (!item) return;
                    $('#projnoHidden').val(item.projno || '');
                    $('#projno').val(item.projnm || item.projno || '');
                });
            });

            $('#btnNew').click(function (e) {
                e.preventDefault();
                page.clearForm();
                $('#misdate').val(CommonUtil.formatYYYYMMDD(new Date()));
                $('#billgubun').val('1');
                $('#billkind').val('1');
                $('#receiptyn').val('1');
                $('#taxcls').val('0');
                $('#taxgubun').val('01');
                $('#accyn').val('0');
            });

            $('#btnSave').click(function (e) {
                e.preventDefault();
                page.save();
            });

            $('#btnDelete').click(function (e) {
                e.preventDefault();
                page.remove();
            });

            $('#btnRowAdd').click(function () {
                page.detailData.sourceCollection.push({
                    actcd: $('#actcdHidden').val() || '',
                    actnm: $('#actnm').val() || '',
                    equpcd: '', equpnm: '',
                    pcode: '', pname: '', psize: '', punit: '',
                    qty: 0, uamt: 0, samt: 0, addamt: 0, amt: 0
                });
                page.detailData.refresh();
            });

            $('#btnRowDel').click(function () {
                const sel = page.gridDetail.selection;
                if (!sel || sel.row < 0) return;
                const item = page.gridDetail.rows[sel.row].dataItem;
                const idx = page.detailData.sourceCollection.indexOf(item);
                if (idx > -1) {
                    page.detailData.sourceCollection.splice(idx, 1);
                    page.detailData.refresh();
                    page.refreshTotal();
                }
            });

            $('#actPickSearch').click(function () {
                page.searchAct();
            });
            $('#actPickKeyword').on('keypress', function (e) {
                if (e.keyCode === 13) page.searchAct();
            });
            $('#actPickList').on('dblclick', function () {
                page.applyAct();
            });
            $('#actPickApply').click(function () {
                page.applyAct();
            });
            $('#actPickCancel').click(function () {
                $('#actPickBox').hide();
            });

            page.search();
        });
    </script>

    <!-- 현장 선택 목록. 공용 팝업이 없어 이 화면 안에서 고르게 한다 -->
    <div id="actPickBox"
         style="display:none; position:fixed; top:20%; left:50%; transform:translateX(-50%);
                z-index:9999; background:#fff; border:1px solid #bbb; border-radius:4px;
                padding:14px; box-shadow:0 4px 16px rgba(0,0,0,.2); width:560px">
        <p style="margin:0 0 8px; font-weight:600">현장 선택</p>
        <div style="display:flex; gap:6px; margin-bottom:8px">
            <input type="text" id="actPickKeyword" class="form-control2" style="flex:1"
                   placeholder="현장명 또는 현장코드"/>
            <button type="button" class="btn-excellt btn-default" id="actPickSearch"
                    style="width:80px; height:34px">검색</button>
        </div>
        <select id="actPickList" size="12" style="width:100%"></select>
        <div style="text-align:right; margin-top:10px">
            <span id="actPickCount" style="float:left; line-height:34px; color:#777"></span>
            <button type="button" class="btn-excellt btn-default" id="actPickApply"
                    style="width:90px; height:34px">선택</button>
            <button type="button" class="btn-delete btn-danger" id="actPickCancel"
                    style="width:90px; height:34px">취소</button>
        </div>
    </div>
</th:block>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>
